:root {
  --sc-c-primary: #0056b3;
}

.sc-image {
  cursor: pointer;
  border: 2px solid var(--sc-c-primary);
  position: relative;
  max-width: 100%;
  transition: 0.3s;
}

/*
!important is here to override original hover states
 */
.sc-image:hover,
.sc-image:focus {
  outline: none !important;
  scale: 0.98 !important;
  box-shadow:
    0 0 1px 2px #fff,
    0 0 4px 2px var(--sc-c-primary) !important;
}

.sc-dialog {
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  animation: fadeIn 0.3s ease-out;
}

.sc-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.sc-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.sc-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.sc-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #6c757d;
  color: #fff;
  transition:
    0.2s scale,
    opacity ease-in;
}

.sc-button:hover {
  scale: 1.03;
  opacity: 0.87;
}

.sc-button__primary {
  background-color: var(--sc-c-primary);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
